.FeaturesBlock{
    display: flex;
    flex-direction: column;
    background: #FDFAF9;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* block1 */
.FeaturesBlock1{
    padding-top: 90px;
    padding-right: 10px;
    padding-bottom: 70px;
    padding-left: 10px;
    justify-content: center;
    align-items: center;
}
.FeaturesTitle{
    font-size: 40px;
    color:#222222e1;
    font-family: Jost;
    font-weight: 400;
    text-align: center;
    width: 100%;
    margin: 0;
}
.FeaturesText{
    font-size: 20px;
    color:#222222b8;
    font-family: Jost;
    text-align: center;
    font-weight: 400;
    margin: 5px;
    width: 100%;
}
/* block2 */
.FeaturesBlock2{
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    align-items: center;
    justify-content: center;
}
.Features_allBorder{
    border-radius: 10px;
    -webkit-box-shadow: 4px -4px 39px 6px rgba(34, 34, 34, 0.2);
-moz-box-shadow: 4px -4px 39px 6px rgba(34, 34, 34, 0.2);
box-shadow: 4px -4px 39px 6px rgba(34, 34, 34, 0.2);
}
/* min1 */
.FeaturesBlockMin1{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.FeaturesBlock2Img1{
    width: 100%;
    max-width: 435px;
    max-height: 710px;
    height: 100%;
    
}
.FeaturesBlock2Img4{
    width: 100%;
    max-width: 435px;
    max-height: 375px;
    height: 100%;
}
/* min2 */
.FeaturesBlockMin2{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.FeaturesBlock2Img2{
    width: 100%;
    max-width: 435px;
    max-height: 406px;
    height: 100%;
}
.FeaturesBlock2Img5{
    width: 100%;
    max-width: 435px;
    max-height: 710px;
    height: 100%;
}
/* min3 */
.FeaturesBlockMin3{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}
.FeaturesBlock2Img3{
    width: 100%;
    max-width: 435px;
    max-height: 563px;
    height: 100%;
}
.FeaturesBlock2Img6{
    width: 100%;
    max-width: 435px;
    max-height: 522px;
    height: 100%;
}
@media(max-width:768px){
    .FeaturesBlock2{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .FeaturesBlock{
        padding-right: 5px;
        width: initial;
    }
}
/* block3 */
.FeaturesBlock3{
    margin-top: -10px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: center;
}
.Features_allStyleText{

}
.Features_allStyleTitle{

}
/* min1 */
.FeaturesBlocksMinImg1{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks1Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min2 */
.FeaturesBlocksMinImg2{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks2Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min3 */
.FeaturesBlocksMinImg3{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks3Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min4 */
.FeaturesBlocksMinImg4{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks4Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min5 */
.FeaturesBlocksMinImg5{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks5Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min6 */
.FeaturesBlocksMinImg6{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks6Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min7 */
.FeaturesBlocksMinImg7{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks7Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min8 */
.FeaturesBlocksMinImg8{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks8Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min9 */
.FeaturesBlocksMinImg9{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks9Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min10 */
.FeaturesBlocksMinImg10{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks10Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min11 */
.FeaturesBlocksMinImg11{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks11Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
/* min12 */
.FeaturesBlocksMinImg12{
    padding: 10px;
    width: 100%;
    max-width: 435px;
}
.FeaturesBlocks12Img1{
    width: 100%;
    max-width: 435px;
    padding: 10px;
}
