.AlukasBlockImg:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.AlukasBlockImg1:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.AlukasBlockImg2:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.AlukasBlockImg3:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}