.adaptiveHomeBtn3:hover{
    transition: 0.3s;
    color: #222222;
}
.adaptiveHomeBtn1:hover{
    transition: 0.3s;
    color: #222222;
}
.adaptiveHomeBtn4:hover{
    transition: 0.3s;
    color: #222222;
}
.homeTitle1:hover{
    color: #222222c4;
    transition: 0.3s all;
}
.homeTitle2:hover{
    color: #222222c4;
    transition: 0.3s all;
}
.homeTitle3:hover{
    color: #222222c4;
    transition: 0.3s all;
}
.homeTitle4:hover{
    color: #222222c4;
    transition: 0.3s all;
}
.homeTitle5:hover{
    color: #222222c4;
    transition: 0.3s all;
}
.homeBtn:hover{
    background: #222222af;
    transition: 0.3s all;
}
.adaptiveHomeMin1Title1:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title2:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin3Title3:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin4Title4:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin5Title5:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin5Title6:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title1:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title2:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title3:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title4:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title5:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title6:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title7:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title8:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title9:hover{
    transition: 0.3s;
    color: #22222268;
}
.adaptiveHomeMin2Title10:hover{
    transition: 0.3s;
    color: #22222268;
}