.DemosImg:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg1:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg2:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg3:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg4:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg5:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg6:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg7:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}

.DemosImg8:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
