.SalesBlockMinImg1:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg2:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg3:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg4:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg5:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg6:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg7:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg8:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg9:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg10:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg11:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.SalesBlockMinImg12:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
